# macOS
.DS_Store

# Windows
Thumbs.db

# VS Code
.vscode/

# Node (just in case you ever add npm packages later)
node_modules/
npm-debug.log
yarn-error.log

# Environment secrets
.env
config.js

# Temporary and Log files
*.log

# Python
venv/
__pycache__/
